h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.logo {
  display: inline-block;
  background: url('../images/angular.svg') no-repeat center;
  width: 88px;
  height: 88px;
  vertical-align: middle;
}
